[dependencies]
ferrisgram = "0.2.0"
tokio = { version = "1.37.0", features = ["full"] }

[profile.release]
lto = true
opt-level = "z"
incremental = true
codegen-units = 1

[package]
name = "rustrobot"
version = "0.0.1"
include = ["/src"]
edition = "2021"
